@page "/news"
@using Client.Services
@using DAL.Models
@inject NewsService newsService
@inject NavigationManager NavigationManager;

<PageTitle>News</PageTitle>

@if (news == null)
{
    <p>Loading...</p>
}
else{
<section>
	<div class="container">
		<div class="rightside_home">
			<div class="news_home">
				<div class="intro_title_home" style="text-align: center">
					@foreach(var item in news){
						<p>@item.Text</p>
						<img src=@item.Media width="250" height="250" />
						<hr align="center" width="1200" size="5" color="red" />
						<br />
					}
				</div>
				<br/>
				<br/>
				<br/>
				<div class="NuberOfPage">
					@foreach (var item in listofpages)
					{
						<button class="btn btn-primary" @onclick="() => OpenPage(item)">@item</button>
					}
				</div>
			</div>
		</div>
	</div>
</section>
}

@code{
	IEnumerable<News> news;
	List<int> listofpages=new List<int>();

	protected override async Task OnInitializedAsync(){
		int countofpages = await newsService.GetCountOfNews();
		for(int i=1;i<=countofpages;i++){
			listofpages.Add(i);
		}
		await OpenPage();
	}

	public async Task OpenPage(int page = 1)
	{
		news = await newsService.GetNews(page);
	}
}

