@inherits LayoutComponentBase

<PageTitle>Client</PageTitle>

<main>
    <div><NavMenu /></div>
    <article class="content px-4">
        @Body
    </article>
    <hr />
    <footer>
        <p>&copy; 2023 - CryptoShoto.</p>
        <br />
    </footer>
</main>
