.first__section {
    height: max-content;
    justify-content: center;
    align-items: center;
}



.header {
    background: rgba(63, 43, 39, 0.5);
    backdrop-filter: blur(1px);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #5a5351;
}

.header__logo_home {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.logo_img_home {
    width: 80px;
}

.header__nav_home {
    margin-right: 280px;
    display: flex;
    align-items: baseline;
}

.nav_link_item_home {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.nav__links_home {
    text-align:center;
    justify-content: center;
    margin-right: 60px;
    text-decoration: none;
    align-items: center;
    color: #C0C0C0;
    transition: color .4s ease-in-out 0s;
}

.nav__links:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.nav__links:last-child {
    margin-right: 0;
}

.logo_button_home {
    align-items: center;
    justify-content:center;
    width: 120px;

    border-radius: 10px;
    text-align: center;
    color: black;
}